<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>
    <Appenders>
        <File name="File" fileName="${log-path}/javainstaller.log">
            <PatternLayout>
                <pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}- %c{1}: %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="root" level="debug" additivity="false">
            <appender-ref ref="File" level="debug"/>
        </Logger>
        <Root level="debug" additivity="false">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
